<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de Cidades</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1"><label for="cidade">Cidade</label></div>
    <div class="col-xs-12 col-sm-10 col-md-2 col-lg-2"><input type="text" id="cidade"/> </div>
    <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1"><label for="estado">Estado</label></div>
    <div class="col-xs-12 col-sm-10 col-md-2 col-lg-2"><input type="text" id="estado"/> </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1"><input type="button" id="buscar" value="Buscar"/> </div>



</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-2">
        <table class="col-sm-12 col-md-6 col-lg-2">
            <tr>
                <th class="col-sm-6 col-md-1" >Nome</th>
                <th class="col-sm-6 col-md-1" >Estado</th>
            </tr>
            <tr th:each="cidade  : ${cidades}">
                <td class="col-sm-6 col-md-1" th:text="${cidade.nome}"></td>
                <td class="col-sm-6 col-md-1" th:text="${cidade.estado}"></td>
            </tr>
        </table>
    </div>

</div>

</body>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>