<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de Cidades</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="row">
    <div class="col-sm-2 col-md-1"><label for="cidade">Cidade</label></div>
    <div class="col-sm-2 col-md-2"><input type="text" id="cidade"/> </div>
    <div class="col-sm-2 col-md-1"><label for="estado">Estado</label></div>
    <div class="col-sm-2 col-md-2"><input type="text" id="estado"/> </div>
    <div class="col-sm-2 col-md-2"><input type="button" id="buscar" value="Buscar"/> </div>
</div>

</body>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>