<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Lista de Cidades</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container-fluid">
    <div class="row  form-group"/>
    <div class="row form-group">
        <div class="col-sm-12">
            <form class="form-group" action="#" th:action="@{/cidade/lista}" th:object="${cidade}" method="get">
                <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1"><label for="cidade">Cidade</label></div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2"><input class="form-control" type="text" th:field="*{nome}" id="cidade"/> </div>
                <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1"><label for="estado">Estado</label></div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2"><input class="form-control" type="text" th:field="*{estado}" id="estado"/> </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1"><input class="form-control btn btn-default" type="submit" id="buscar" value="Buscar"/> </div>
            </form>
        </div>
    </div>
    <div class="row  form-group">
        <div class="col-sm-8 col-md-6 col-lg-6">
            <table class="table table-hover table-striped table-responsive col-sm-12 col-md-6 col-lg-4">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col" class="col-xs-4 col-md-2" >Nome</th>
                        <th scope="col" class="col-xs-4 col-md-2" >Estado</th>
                        <th scope="col" class="col-xs-4 col-md-2" ></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cidade  : ${cidades}">
                        <td class="col-xs-4 col-md-2" th:text="${cidade.nome}"></td>
                        <td class="col-xs-4 col-md-2" th:text="${cidade.estado}"></td>
                        <td class="col-xs-4 col-md-2" >
                            <button class="btn btn-link" th:id="'cidade_' + ${cidade.nome}" onclick="return mostrar_pontuacao(this);" th:attr="data-nome=${cidade.nome},data-estado=${cidade.estado}">Ver pontuação</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
function mostrar_pontuacao(node) {
    console.log(node);
    $.ajax({
        type : "GET",
        url : "/cidade/pontuacao",
        data : {
           nome: node.dataset.nome,
           estado: node.dataset.estado
        },
        success : function(response) {
            alert("A pontuação da cidade " + node.dataset.nome + " é " + response.pontuacao);
        },
        error : function(e) {
           alert('Não foi possível obter a pontuação da cidade: ' + e);
        }
    });
    return;
}
</script>
</html>